<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link type="text/css" rel="stylesheet" href="./static/css/Kcss.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>


<body class="d-flex flex-column min-vh-100">
    <!-- Negavation -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand ms-4" href="bs_homed.html">
                <span class="display-6 fs-2 fw-bolder text-pink-medium"><i class="bi bi-briefcase-fill align-text-top me-1"></i>PecanCV</span>
            </a>       
            <button class="navbar-toggler me-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-4">
                <li class="nav-item">
                    <ol class="breadcrumb fw-bold fs-4 mb-0">
                        <li class="breadcrumb-item"><a href="bs_homed.html">Trang Chủ</a></li>
                        <li class="breadcrumb-item active">Quản Lý Bài Đăng</li>
                    </ol>
                </li>
                <li class="ps-0 nav-item d-lg-none mt-2 mt-lg-0">
                    <button data-bs-toggle="collapse" data-bs-target="#collap-user" id="btn-collap-user" class="border-0 bg-secondary-subtle p-0">
                        <i class="bi bi-person text-pink align-text-bottom"></i>
                        Xin chào <mark  class="username">Khách</mark>
                    </button>
                    <div id="collap-user" class="collapse">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-secondary-subtle text-decoration-underline text-muted box-click">
                                <i class="bi bi-arrow-return-right text-pink align-text-bottom"></i>
                                <a href="bs_profile.html" class="text-dark">Thông tin cá nhân</a></li>
                            <li class="list-group-item bg-secondary-subtle text-decoration-underline text-muted box-click">
                                <i class="bi bi-arrow-return-right text-pink align-text-bottom"></i>
                                <a href="recruit.html" class="text-dark">Đăng tin tuyển dụng</a></li>
                            <li class="list-group-item bg-secondary-subtle text-decoration-underline text-muted box-click">
                                <i class="bi bi-arrow-return-right text-pink align-text-bottom"></i>
                                <a href="bs_history.html" class="text-dark">Quản lý bài đăng</a></li>
                            <li class="list-group-item bg-secondary-subtle text-decoration-underline text-muted box-click">
                                <i class="bi bi-arrow-return-right text-pink align-text-bottom"></i>
                                <a id="signout1"class="text-dark">Đăng xuất</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            
            <div class="d-none d-lg-flex">
                <div class="dropdown">
                    <img src="./static/img/sample.png" id="img" style="width: 50px;" type="button" aria-haspopup="true" aria-expanded="false" class="img-fluid border border-4 rounded-circle dropdown-toggle" data-bs-toggle="dropdown"></img>
                    <ul class="dropdown-menu text-right dropdown-menu-end mt-1 border border-4">
                        <li><h6 class="dropdown-header">Xin chào <mark class="username">Khách</mark> </h6></li>
                        <li><a class="dropdown-item" href="bs_profile.html">Hồ sơ</a></li>
                        <li><a class="dropdown-item" href="recruit.html">Đăng tin tuyển dụng</a></li>
                        <li><a class="dropdown-item" href="bs_history.html">Quản lý bài đăng</a></li>
                        <li><a class="dropdown-item" id="signout" >Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Negavation -->

    <!-- Content -->
    <div class="bg-linear-pink">
        <div class="container">
      <!-- Header -->
            <div class="container my-4">
                <div class="row m-auto rounded border">
                    <div class="col-10 text-dark rounded">
                        <div class="display-6 font-monospace fw-bolder text-center">Quản lý bài đăng</div>    
                    </div>
                    <div class="col-2 m-auto d-flex justify-content-end pe-1">
                        <a class="btn btn-success" href="bs_recruitlist.html">Xem kết quả bài đăng</a>
                    </div>
                    <div class="col-12 border p-5">
                        <div class="row d-flex gx-5 gy-3 justify-content-evenly" id="root">
                            <!-- Recruit cards here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->


    <!-- About us -->

    <!-- End About us -->

    <!-- Footer -->
    <footer id="bottom" data-anchor="true" class="bg-pink o_footer mt-auto">
        <section class="s_text_block p-1 p-md-3">
            <div class="container-fluid">
                <div class="row d-flex justify-content-md-around">
                    <div class="col-6 col-md-3">
                        <ul class="list-group-item list-group-item-action list-control text-white">
                            <h4>Về chúng tôi - PecanCV</h4>
                            <li class="list-group-item list-group-item-action"><a href="#" class="text-pink-light">Giới thiệu</a></li>
                            <li class="list-group-item list-group-item-action"><a href="#" class="text-pink-light">Tin tức nghề nghiệp</a></li>
                            <li class="list-group-item list-group-item-action"><a href="#" class="text-pink-light">Tuyển dụng</a></li>
                            <li class="list-group-item list-group-item-action"><a href="#" class="text-pink-light">Liên hệ</a></li>
                            <li class="list-group-item list-group-item-action"><a href="#" class="text-pink-light">Hỏi đáp</a></li>
                            <li class="list-group-item list-group-item-action"><a href="#" class="text-pink-light">Chính sách bảo mật</a></li>
                            <li class="list-group-item list-group-item-action"><a href="#" class="text-pink-light">Điều khoản dịch vụ</a></li>
                            <li class="list-group-item list-group-item-action"><a href="#" class="text-pink-light">Quy chế hoạt động</a></li>
                            </li>
                        </ul>
                    </div>

                    <div class="col-12 col-md-5 border-start border-end text-center order-1 order-md-0">
                        <div class="px-4 text-white">
                            © 2023-2023 
                            <p><b class="text-white">Công ty cổ phần PecanCV Việt Nam</b></p>
                            <b class="text-decoration-underline text-pink-light">Trụ sở HCM:</b>
                            <p class="font-italic text-pink-light">19 Đ. Nguyễn Hữu Thọ, Tân Hưng, Quận 7, Thành phố Hồ Chí Minh</p>
                            <b class="text-decoration-underline text-pink-light">Trụ sở Nha Trang:</b>
                            <p class="font-italic text-pink-light">22 Đ. Nguyễn Đình Chiểu, Vĩnh Phước, Nha Trang, Vĩnh Phước</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-3 text-right" id="connect">
                        <div class="row">
                            <h4 class="text-white">Thông tin liên hệ</h4>
                            <ul class="list-unstyled ms-2">
                                <li>
                                    <i class="bi bi-telephone-fill text-pink-light" name="mail">
                                        <span class="strong ps-1 text-pink-light">84+ 123456789</span>  
                                    </i>
                                <li>
                                    <i class="bi bi-mailbox2 text-pink-light" name="mail">
                                        <span class="strong ps-1 text-pink-light">pecancv.support@gmail.com</span>  
                                    </i>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="include-icon d-flex justify-content-evenly">
                                <a class="btn btn-link" href="https://www.facebook.com"><i class="bi bi-facebook fs-4 text-primary" style="line-height: 50%;"></i></a>
                                <a class="btn btn-link" href="https://github.com"><i class="bi bi-github text-dark fs-4" style="line-height: 50%;"></i></a>
                                <a class="btn btn-link" href="https://www.instagram.com"><i class="bi bi-instagram text-danger-emphasis fs-4" style="line-height: 50%;"></i></a>
                                <a class="btn btn-link" href="https://youtube.com"><i class="bi bi-youtube fs-4 text-danger" style="line-height: 50%;"></i></a>
                            </div>
                        </div>
                        
                        <div class="row text-center mt-3">
                            <span class="display-6 fs-2 fw-bolder text-pink-light"><i class="bi bi-briefcase-fill align-text-top me-1 text-pink-light"></i>PecanCV</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <!-- End Footer -->
    <script src="../model/signoutModel.js"></script>

    <script>
        const btn_collap_tutorial = document.getElementById('btn-collap-tutorial');

        btn_collap_tutorial.onclick = function() {
            if (btn_collap_tutorial.classList.contains('box-open'))
                btn_collap_tutorial.classList.remove('box-open')
            else 
            btn_collap_tutorial.classList.add('box-open')
        }
    </script>



    <script type="module" src="../model/bshomedModel.js"></script>
    <script type="module" src="../model/deleteRecruitModel.js"></script>
    <script type="module" src="../model/bshistoryModel.js">
    </script>
    <script type="text/javascript" src="../controller/detailJobForEditController.js"></script>
    <!-- <script src="../controller/deleteRecuitController.js"></script> -->
    

    
</body>
</html>


