<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên mật khẩu</title>

    <!-- Favicon - logo in browser tab -->
    <link rel="icon" type="image/png" href="static/img/favicon.png"/>
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="static/css/homepage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <!-- ICON -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
</head>
<body>
    <div class="container-fuild" style="height: 5vh;">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand ms-4 text-pink-medium box-hover-zoom" href="../index.html">
                    <span class="display-6 fs-3 fw-bolder"><i class="bi bi-briefcase-fill me-1"></i>PecanCV</span>
                </a>
            </div>
        </nav> 
    </div>
    <div class="row row-cols-2 bg-pink-light ps-1 m-auto" style="height: 95vh;">
        <div class="col-lg-5 col-12 d-flex px-lg-5">
            <div class="container align-self-center px-md-5">
                <div class="header-signup mb-5">
                    <h2 class="display-5 fw-bolder text-nowrap">Quên mật khẩu</h2>
                    <p class="text-muted">
                        Đừng quá lo lắng, chúng tôi luôn hỗ trợ bạn
                    </p>
                </div>
                
                <div id="forget-rep" class="bg-danger-subtle fw-semibold mb-2 p-2 fst-italic d-none"></div>

                <div class="mb-2 box-shadow rounded">
                    <div class="form-floating">
                        <input type="text" class="form-control ps-3 pe-md-5" id="email" placeholder=" " required>
                        <label for="email" class="ms-1">
                            <i class="bi bi-envelope-fill align-text-top pe-1"></i>
                            Email
                        </label>
                    </div>
                </div>

                <div class="mt-2">
                    <small class="ms-1"><span class="text-danger">*</span>Bằng việc tiến hành đổi mật khẩu, bạn đã đồng ý với <a href="#" class="text-pink-strong fw-bolder">Điều khoản dịch vụ</a> và <a href="#" class="text-pink-strong fw-bolder">Chính sách bảo mật</a> của chúng tôi.</small>
                    <button type="submit" id="reset" class="btn btn-success w-100 box-shadow mt-2">
                        Tiếp tục
                        <i class="ps-1 bi bi-send-fill align-text-top"></i>
                    </button>
                </div>

                <hr class="mt-5">
                <div class="d-none d-md-flex justify-content-between">
                    <p class="box-hover-move-left">
                        <i class="bi bi-arrow-left align-text-bottom text-pink-medium"></i>
                        <a href="signup.html" class="text-pink-strong fw-semibold text-decoration-none">Đến trang đăng ký</a>
                    </p>
                    <p class="box-hover-move-right text-pink-medium">
                        <a href="signin.html" class="text-pink-strong fw-semibold text-decoration-none">Đến trang đăng nhập</a>
                        <i class="bi bi-arrow-right align-text-bottom"></i>
                    </p>
                </div>

                <div class="d-md-none d-flex justify-content-between">
                    <p class="box-hover-move-left">
                        <i class="bi bi-arrow-left align-text-bottom text-pink-medium"></i>
                        <a href="signup.html" class="text-pink-strong fw-semibold text-decoration-none">Đăng ký</a>
                    </p>
                    <p class="box-hover-move-right text-pink-medium">
                        <a href="signin.html" class="text-pink-strong fw-semibold text-decoration-none">Đăng nhập</a>
                        <i class="bi bi-arrow-right align-text-bottom"></i>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-7 d-none d-lg-flex bg-pink-light px-0 d-flex align-items-center">
            <img src="./static/img/job.png" class="img-fluid w-100 p-5" style="max-height: 90%;">
        </div>
    </div>

    <!-- Modal hiển thị thanh process -->
    <div class="modal bg-opacity-75 bg-secondary" tabindex="-1" id="process-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="progress">
                    <div class="progress-bar-striped text-bg-pink text-center" role="progressbar" id="process-bar"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="module" src="../model/forgetModel.js"></script>
</html>
<!-- Checked -->